<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>853300679334-mivd9ulajh805t0in039uh3k1mtl0vlj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853300679334-mivd9ulajh805t0in039uh3k1mtl0vlj</string>
	<key>API_KEY</key>
	<string>AIzaSyAPLv0ANho6nc9OU48qZ4qEgO6nk3JDYG0</string>
	<key>GCM_SENDER_ID</key>
	<string>853300679334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ollietech.PosAff</string>
	<key>PROJECT_ID</key>
	<string>positiveaffirmations-914f2</string>
	<key>STORAGE_BUCKET</key>
	<string>positiveaffirmations-914f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:853300679334:ios:b8c73d90ec47e371</string>
	<key>DATABASE_URL</key>
	<string>https://positiveaffirmations-914f2.firebaseio.com</string>
</dict>
</plist>